@using SpotCollege.Common
@using Newtonsoft.Json
@using SpotCollege.DAL.DataModels
@using System.Collections
@model List<SpotCollege.DAL.DataModels.MessageModel>
@{
    ViewBag.Title = "Message";
    Layout = "~/Views/Shared/_Layout.cshtml";

    //this is use for getting message sender name for sending new message in the dropdown list 
    IList<string> stringlist = Model.Select(x => x.Name + "," + x.ToUserName).Distinct().ToList();
    IList<SelectListItem> newMessageUserlist = stringlist.Select(x => new SelectListItem { Text = x.Split(',')[0], Value = x.Split(',')[1] }).ToList();
      
}

@using (Html.BeginForm())
{
    <div class="pattern_box allmessage">
        <div class="row-fluid">
            <div class="msg_replay_hide">
                <div class="msg_searchbar" style="margin: 0">
                    <span class="search_btn"></span>
                    <input type="text" id="txtSearch" placeholder="Search Message By Title" />
                    @*<a href="#" class="button" style="float: right" id=''>Send New Message</a>*@
                    <input type="button" id="BtnNewMsg" class="button" value="New Message" />
                </div>
                <br />
                <br />
                <div>
                    <ul class="nav nav-tabs">
                        <li>
                            <input type="submit" name="lnkFromStudents" id="lnkFromStudents" value="@ViewBag.lnkFromStudents" class="@ViewBag.Activestudents" />
                        </li>
                        @if (CookieHelper.UserType == ((int)LoginTypes.Student).ToString())
                        {
                            <li>
                                <input type="submit" name="lnkFromUniversity" id="lnkFromUniversity" value="@ViewBag.lnkFromUniversity" class="@ViewBag.Activeuniversity" />
                            </li>
                        }
                        <li>
                            <input type="submit" name="lnkFromAdmin" id="lnkFromAdmin" value="@ViewBag.lnkFromAdmin" class="@ViewBag.Activeadmin"/>
                        </li>
                        @*<li>
                            <input type="hidden" id="hndMsgBtnActive" value="" /></li>*@

                    </ul>
                </div>

                <div class="message_right">
                    @if (@Model.Count == 0)
                    { 
                        <div style="color: black; font-size: larger" id="errorMsgDiv">No Record Found</div>
                    }
                    <ul class="user_msg_box" id="dlMsgUserList">
                        @foreach (var r in Model.Take(12))
                        {
                            if (r.IsShow != "false")
                            {
                            <li id="parentdiv_@r.MessageId" style="background-color:@r.NameColor;">
                                <div class="user_img">
                                    <img id="imgMsgStd" src="@r.Photo" />
                                </div>
                                <div class="user_name">
                                    <label>
                                        @r.Name (@r.NoofChildMessage)
                                    </label>
                                    <br />
                                    <i>@r.CreatedDate.ToShortDateString()</i>
                                </div>
                                <div class="user_msg">
                                    <label>@r.Title</label>
                                    <p>@r.Description
                                        <a href="#" class="msg_replay_open_click button" style="float: right" id='@r.MessageId'>View message and Respond</a>
                                    </p>
                                </div>
                            </li>
                            }
                        }
                    </ul>
                    <div id="noMsgAlert" class="left_right_space" style="display: none">
                        No More Messages Found
                    </div>
                    <div id="waitDiv" class="left_right_space" style="display: none">
                        please wait...
                    </div>
                </div>
            </div>

            <div id="msgConversation" class="msg_replay_show messagereplayfrom">
                <div class="span8">
                    <div id="messageList" class="student_msg message_right shadowbox">
                    </div>
                </div>

                <div class="span4">
                    <ul class="student_right_block" id="ulMessageBetween">
                        <li></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

@*For Message PopUp*@
    <div id="messagebox" class="student_msg" style="display: none" title="Message Box">
        <div class="row-fluid">
            <div class="span12">
                <div class="message_right">
                    <ul class="profile_form">
                        <li class="row-fluid">

                            <div class="span4">
                                <label>Send to :</label>
                            </div>
                            <div class="span4">
                                @Html.DropDownList("ddlSendToUserName", newMessageUserlist)
                            </div>
                        </li>
                        <li class="row-fluid">
                            <div class="span4">
                                <label>Subject :</label>
                            </div>
                            <div class="span4">
                                <input id="txtSubject" type="text" />
                            </div>
                        </li>
                        <li class="row-fluid">
                            <div class="span4">
                                <label>Message :</label>
                            </div>
                            <div class="span6">
                                <textarea id="txtMessage" maxlength="300"></textarea>
                            </div>
                        </li>
                        <li class="row-fluid">
                            <div class="span4"></div>
                            <div class="span6">
                                <input type="button" id="btnMsgSend" value="Send" class="large_button" />
                                <input type="button" id="btnMsgCancel" value="Cancel" class="large_button" />
                            </div>
                            <input type="hidden" id="hndMsgToUserName" />
                            <input type="hidden" id="hndSendMsgId" />
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div id="Dialog-Alert" title="" style="display: none;">
        <p><span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>Please Enter Message Text</p>
    </div>
    <div id="Dialog-AlertForToUsername" title="" style="display: none;">
        <p><span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>Send To is Not available</p>
    </div>
    <div id="LoadingImage" style="display: none" class="modal_loder">
        @*<img src="/Images/ajaxloader.gif" />*@
    </div>
    <div id="dialog-confirm" title="Delete" style="display: none;">
        <p><span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>Are you sure?</p>
    </div>
    
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <link rel="stylesheet" href="/resources/demos/style.css" />
    
    <script type="text/javascript">
        var availableTags = [];
        $(function () {

            $("#nav li").each(function () {
                $(this).removeClass('navi_active');
            });

            $("#lnkMessage").addClass('navi_active');

            $(".msg_replay_show").hide();

            $.ajax({
                type: "POST",
                url: "/Student/_GetMessageTitle",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (msg) {
                    var data = msg;
                    if (data != null) {
                        availableTags = data;

                        $("#txtSearch").autocomplete({
                            source: availableTags
                        });
                    }
                }
            });
        });


        $("#txtSearch").change(function () {
            var title = {
                Title: $("#txtSearch").val(),
            };
            if ($("#txtSearch").val() != "") {
                $.ajax({
                    type: "POST",
                    beforeSend: function () { $("#waitDiv").show(); },
                    complete: function () { $("#waitDiv").hide(); },
                    url: "/Student/_SearchMessageByTitle",
                    data: JSON.stringify(title),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (msg) {
                        if (msg != 'no') {
                            $("#noMsgAlert").hide();
                            $("#dlMsgUserList").html(msg);
                        }
                        else {

                        }
                    }
                });
            }
        });

        //for sending message reply
        function SaveMessageReply(parentMsgId, title, fromuser, touser) {
            var msgdata = {
                parentMsgId: parentMsgId,
                msgDesc: $('#txtReplyDesc').val(),
                msgTitle: title,
                fromusername: fromuser,
                tousername: touser
            };
            if ($('#txtReplyDesc').val() != "") {
                $.ajax({
                    type: "POST",
                    beforeSend: function () { $("#LoadingImage").show(); },
                    complete: function () { $("#LoadingImage").hide(); },
                    url: "_SaveMessageReply",
                    data: JSON.stringify(msgdata),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (msg) {
                        $("#txtReplyDesc").val("");
                        $("#ulMessage").html(msg + $("#ulMessage").html());
                    }
                });
            }
            else {
                $("#Dialog-Alert").dialog({
                    open: function (event, ui) { $(".ui-dialog-titlebar-close .ui-button-text").hide(); },
                    resizable: false,
                    height: 140,
                    modal: true, closeOnEscape: true,
                    buttons: {
                        "OK": function () {
                            $(this).dialog("close");
                        }

                    },
                });
            }
        }

        //$(".textcounter").bind('keyup blur', function () {
        //    alert("cll");
        //    var maxLength = $(this).attr("maxlength");
        //    var counterid = $(this).siblings('.counter').attr('id');
        //    textCounter(this, counterid, maxLength);
        //});
        function textCounter(field, field2, maxlimit) {


            var countfield = document.getElementById(field2);
            if (field.value.length > maxlimit) {
                field.value = field.value.substring(0, maxlimit);
                return false;
            } else {
                if (field.value.substring(0, 1) == ' ')
                    field.value = "";
                else
                    countfield.value = maxlimit - field.value.length;

            }
        }

        var flag_showpopup = true;

        $(".msg_replay_open_click").click(function () {

            $("#LoadingImage").show();
            $(this).parent().parent().parent().css('background-color', 'transparent');
            // $(this).parent().parent().parent().find(".user_name").children("label").css('color', 'Black');
            // var id = $(this).parent().parent().prev().children().children().children().next();
            toBindRemainMessages(this);

        });

        //this function is use to open the message responed when scrolling data is enable
        function OpenMsg(ele) {
            $("#LoadingImage").show();
            toBindRemainMessages(ele);
        }

        //for conversion of messsage
        function toBindRemainMessages(msgcontrol) {
            var msgId = msgcontrol.id;
            var msgId = {
                messageId: msgId
            };

            $.ajax({
                type: "POST",
                url: "/Student/_GetAllConversation",
                data: JSON.stringify(msgId),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (msg) {
                    var data = msg;
                    $("#messageList").html(data[0]);
                    $("#ulMessageBetween").html(data[1]);
                    $("#LoadingImage").hide();
                    $(".msg_replay_hide").hide();
                    $(".msg_replay_show").show();
                    bindToDisplayRemainMessage();
                    $.ajax({
                        url: "/Handler/GetNoOfUnReadMsg.ashx",
                        contentType: "text/plain",
                        data: {},
                        contentType: "application/json; charset=utf-8",
                        success: function (data) {
                            if (data != "" && data != 0) {
                                $("#spanNoOfMsg").text(data);
                            }
                            else { $("#spanNoOfMsg").remove() }
                        },
                        error: function () {
                        }
                    });
                    try {
                        //this is used to remove hightlight when message is opened 
                        //$(msgcontrol).parent().parent().prev().children().children().children().next().css('color', '#404040');
                        //$(msgcontrol).parent().parent().parent().find(".user_name").children("label").css('color','Black');
                    } catch (ex) { }
                }
            });
            //$(".msg_replay_hide").hide();
            //$(".msg_replay_show").show();
        }

        $("#btnMsgCancel").click(function () {
            $("#txtSubject").val("");
            $("#txtMessage").val("");
            $("#messagebox").dialog().dialog("close");
            $(".msg_replay_hide").show();
            $(".msg_replay_show").hide();
        });

        function bindToDisplayRemainMessage() {
            var str = $("#openAll").text();
            var status = true;
            $("#openAll").click(function () {
                $(".remainMsg").toggle(1000);

                if (status) {
                    $(this).text("hide Messages");
                    status = false;
                }
                else {
                    $(this).text(str);
                    status = true;
                }
            });
        }

        //Send New Message to the User from Message Center
        $("#BtnNewMsg").click(function () {
            $("#messagebox").dialog({ modal: true, minWidth: 650, resizable: false, minHeight: 400, closeOnEscape: true, closeText: "" });
        });

        //For Send Message
        $("#btnMsgSend").click(function () {
            //var arr = [];
            //var nameus = $("#txtSearch").val();
            //arr = String(nameus).split(",");
            //$("#hndMsgToUserName").val(arr[1]);
            //$("#txtSendToUserName").val(arr[0]);
            var Message = {
                Title: $("#txtSubject").val(),
                Description: $("#txtMessage").val(),
                sendToUserName: $("#ddlSendToUserName").val(),
                ParentId: "0",
            };
            if ($("#ddlSendToUserName").val() != "" && $("#ddlSendToUserName").val() != "0" && $("#ddlSendToUserName").val() != null) {
                if ($("#txtSubject").val() != "" && $("#txtMessage").val() != "") {
                    $.ajax({
                        type: "POST",
                        beforeSend: function () { $("#LoadingImage").show(); },
                        complete: function () { $("#LoadingImage").hide(); },
                        url: "/Student/_SendMessage",
                        data: JSON.stringify(Message),
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (msg) {
                            $("#txtSubject").val("");
                            $("#txtMessage").val("");
                            $("#messagebox").dialog("close");
                            $("#hndMsgToUserName").val("");
                            // retriveConversation(msg);
                            $(".msg_replay_hide").show();
                            $(".msg_replay_show").hide();
                        }
                    });
                }
                else {
                    $("#Dialog-Alert").dialog({
                        open: function (event, ui) { $(".ui-dialog-titlebar-close .ui-button-text").hide(); },
                        resizable: false,
                        height: 140,
                        modal: true, closeOnEscape: true,
                        buttons: {
                            "OK": function () {
                                $(this).dialog("close");
                            }

                        },
                    });
                }
            }
            else {
                $("#Dialog-AlertForToUsername").dialog({
                    open: function (event, ui) { $(".ui-dialog-titlebar-close .ui-button-text").hide(); },
                    resizable: false,
                    height: 140,
                    modal: true, closeOnEscape: true,
                    buttons: {
                        "OK": function () {
                            $(this).dialog("close");
                        }

                    },
                });
            }
        });

        function MsgDelete(messageid) {
            $("#dialog-confirm").dialog({
                open: function (event, ui) { $(".ui-dialog-titlebar-close .ui-button-text").hide(); },
                resizable: false,
                height: 140,
                modal: true, closeOnEscape: true,
                buttons: {
                    "Yes": function () {
                        var msg = {
                            Messageid: messageid
                        };
                        $.ajax({
                            type: "POST",
                            beforeSend: function () { $("#LoadingImage").show(); },
                            complete: function () { $("#LoadingImage").hide(); },
                            url: "/Student/_MsgDelete",
                            data: JSON.stringify(msg),
                            contentType: "application/json; charset=utf-8",
                            dataType: "json",
                            success: function (msg) {
                                if (msg == "parent")
                                {
                                    $("#parentdiv_" + messageid).remove();
                                    $('.msg_replay_hide').show();
                                    $('.msg_replay_show').hide();
                                }
                                $("#msgdel" + messageid).parent().parent().parent().remove();
                            }
                        });
                        $(this).dialog("close");
                    },
                    Cancel: function () {
                        $(this).dialog("close");
                    }
                }
            });
        }

        // for Scrolling
        var flag = true;
        $(window).scroll(function () {
            if ($(window).scrollTop() + $(window).height() == $(document).height()) {
                if (flag) {
                    $("#waitDiv").show();
                    flag = false
                    $.ajax({
                        type: "POST",
                        beforeSend: function () { $("#waitDiv").show(); },
                        complete: function () { $("#waitDiv").hide(); },
                        url: "/Student/_AppendAndDisplayMessage",
                        contentType: "application/json; charset=utf-8",
                        success: function (data) {
                            if (data == "no")
                                $("#noMsgAlert").show();
                            else {
                                $("#noMsgAlert").hide();
                                flag = true;
                                $("#dlMsgUserList").append(data);
                            }
                            $("#waitdiv").hide();
                        }
                    });
                }
                else {

                }
            }
        });
    </script>
    
   
    
@*<script type="text/javascript">
       
        $(function () {
            var arraylist = [];
            var availableTags = [];
            $.ajax({
                type: "POST",
                url: "/Student/_GetNewMessageSenderList",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (msg) {
                    var data = msg;
                    if (data != null) {
                        availableTags = data;
                        //var a;
                        //availableTags = arraylist.split(",");
                        //for (var i = 0; i < availableTags.Length; i++)
                        //{
                        //    a = availableTags[i].indexOf('@@');
                        //    alert(a);
                        //}
                        $("#txtSearch").autocomplete({
                            source: availableTags
                        });
                    }
                }
            });

        });
    </script>*@
    
    
}