@using SpotCollege.Common
@using SpotCollege.DAL
@using SpotCollege.BLL
@using Newtonsoft.Json
@model SpotCollege.DAL.DataModels.StudentProfileModel
@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var payout = "";
}
@Html.Hidden("hdnQueryUID")
@using (Html.BeginForm())
{
    <div class="row-fluid">

        <div class="span12">
            <div id="dialog-confirm" title="Delete" style="display: none;">
                <p><span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>Are you sure?</p>
            </div>
            <div class="msg_replay_hide">
                <div class="pattern_box box_space">
                    @if (CookieHelper.UserType == ((int)LoginTypes.University).ToString())
                    {
                        StudentBLL studentBLL = new StudentBLL();
                        var usname = "";
                        var name = "";
                        if (!string.IsNullOrEmpty(ViewContext.RouteData.Values["id"].ToString()))
                        {
                            Student std = studentBLL.Get(Convert.ToInt32(ViewContext.RouteData.Values["id"].ToString()));
                            if (std != null)
                            {
                                usname = std.UserName;
                                name = std.FirstName + " " + std.LastName;
                            }
                            
                        }
                        
                        <div class="width100per">
                            <div class="fright">
                                <a id="lnkBack" href="/University/" class="button">Back</a>
                                <a id="lnkMessage" onclick="javascript:OpenMsgPopup('@name','@usname')" class="button">Send Message</a>
                            </div>
                        </div>
                    }
                    <div class="row-fluid">
                        <div class="span6">
                            <div id="BasicOverview">
                                <div class="shadowbox">
                                    <div class="h2_heading">
                                        <div class="accordion-header">
                                            <h2>Basics Information</h2>
                                        </div>
                                        @if (ViewContext.RouteData.Values["id"]==null)
                                        {
                                            <a href="/Student/EditProfile/basic" class="edit">Edit</a>
                                        }
                                    </div>

                                    <div class="accordion-content">
                                        <ul class="list_4">
                                            <li>
                                                <label>
                                                    First Name :</label>
                                                <span id="lblFirstame">@Convert.ToString(Model.student.FirstName)</span>

                                            </li>
                                            <li>
                                                <label>
                                                    Middle Name :</label>
                                                <span id="lblMiddleName">@Model.student.MiddleName</span>
                                            </li>
                                            <li>
                                                <label>
                                                    Last Name :</label>
                                                <span id="lblLastName">@Model.student.LastName</span>
                                            </li>
                                            <li>
                                                <label>
                                                    Country of Citizenship :</label>
                                                <span id="lblCountryOfCitizenship">@Model.student.Citizenship</span>
                                            </li>
                                            <li>
                                                <label>
                                                    Address 1 :</label>
                                                <span id="lblAddress1">@Model.student.Address1</span>

                                            </li>
                                            <li>
                                                <label>
                                                    Address 2 :</label>
                                                <span id="lblAddress2">@Model.student.Address2</span>
                                            </li>
                                            <li>
                                                <label>
                                                    Zip Code :</label>
                                                <span id="lblzipcode">@Convert.ToString(@Model.student.ZipCode)</span>
                                            </li>
                                            <li>
                                                <label>
                                                    Primary Phone :</label>
                                                <span id="lblPrimaryNumber">(@(Enum.Parse(typeof(PhoneTypes), @Model.student.PrimaryType).ToString())) @Model.student.PrimaryNumber</span>
                                            </li>
                                            @* <li>
                                                <label>
                                                    Secondary Phone :</label>
                                                <span id="lblSecondaryNumber">(@(Enum.Parse(typeof(PhoneTypes), @Model.student.SecondaryType).ToString())) @Model.student.SecondaryNumber</span>
                                            </li>*@
                                            <li>
                                                <label>
                                                    Birth Date :</label>
                                                <span id="lblBirthDate">@Convert.ToString(@Model.student.BirthDate.Value.ToString("dd/MM/yyyy"))</span>
                                            </li>
                                            <li>
                                                <label>
                                                    City :</label>
                                                <span id="lblCity">@Convert.ToString(@Model.student.City)</span>

                                            </li>
                                            <li>
                                                <label>
                                                    Country :</label>
                                                <span id="lblCountry">@Convert.ToString(@Model.student.Country)</span>

                                            </li>
                                            <li>
                                                <label>
                                                    Primary Email :</label>
                                                <span id="lblPrimaryEmail">@Convert.ToString(@Model.student.PrimaryEmail)</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div id="EducationPreferences">
                                <div class="shadowbox">
                                    <div class="h2_heading">
                                        <div class="accordion-header">
                                            <h2>Education Preferences</h2>
                                        </div>
                                        @if (ViewContext.RouteData.Values["id"] == null)
                                        {
                                            <a href="/Student/EditProfile/EduPref" class="edit fright">Edit</a>
                                        }
                                    </div>

                                    <div class="accordion-content">
                                        <ul class="list_4">
                                            <li>
                                                <label>
                                                    I am currently in :</label>
                                                <span id="lblCurrentlyIn">@SpotCollege.Common.EnumHelper.GetDescriptionFromEnumValue((SpotCollege.Common.CurrentlyIn)@Model.student.StudyingIn).ToString()</span>
                                            </li>
                                            <li>
                                                <label>
                                                    program looking for :</label>
                                                <span id="lblLookingFor">@SpotCollege.Common.EnumHelper.GetDescriptionFromEnumValue((SpotCollege.Common.ProgramLookingFor)@Model.student.LookingFor).ToString()</span>
                                            </li>
                                            <li>
                                                <label>
                                                    I prefer to study in :</label>

                                                <span id="lblPreferStudyIn">@Model.student.LookingForCountry.ToString()</span>
                                            </li>
                                            <li>
                                                <label>
                                                    Expected Start Date :</label>
                                                <span id="lblExpectedStartDate">@SpotCollege.Common.EnumHelper.GetDescriptionFromEnumValue((SpotCollege.Common.expectedStart)@Model.student.StartDate).ToString()</span>
                                            </li>
                                            <li>
                                                <label>
                                                    I can afford to pay :</label>

                                                @if (Model.student.Payout == 1)
                                                {
                                                    payout = "$3000-5000";
                                                }
                                                else if (Model.student.Payout == 2)
                                                {
                                                    payout += "$5000-10000";
                                                }
                                                else if (Model.student.Payout == 3)
                                                {
                                                    payout += "$10000-15000";
                                                }
                                                else if (Model.student.Payout == 4)
                                                {
                                                    payout += "$15000+";
                                                }
                                                <span id="lblPayout">@payout</span>
                                            </li>
                                            <li>
                                                <label>
                                                    Desired Field of Study:</label>
                                                <span id="lbldesiredfieldstudy">@Model.student.DesiredFieldofStudy.ToString()</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="shadowbox right_space">
                                <div class="h2_heading">
                                    <div class="accordion-header">
                                        <h2>Photo :</h2>
                                    </div>
                                    @if (ViewContext.RouteData.Values["id"] == null)
                                    {
                                        <a href="/Student/EditProfile/Photo" class="edit fright">Change</a>
                                    }
                                </div>
                                <div class="accordion-content">
                                    <ul class="list_4">
                                        <li>
                                            <label>
                                                profile Image :</label>
                                            <span>
                                                <a href="..\Images\Profile\@Model.student.Photo" id="hoverimg" class="preview">
                                                    <img id="imgProfileImage" class="large_images" src="..\Images\Profile\@Model.student.Photo" />
                                                </a>
                                            </span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="span6">
                            <div id="CurrentAcademics">
                                <div class="shadowbox right_space">
                                    <div class="h2_heading">
                                        <div class="accordion-header">
                                            <h2>Current Academics</h2>
                                        </div>
                                        @if (ViewContext.RouteData.Values["id"] == null)
                                        {
                                            <a href="/Student/EditProfile/CurrentAcademic" class="edit fright">Edit</a>
                                        }
                                    </div>
                                    <div class="accordion-content">
                                        @if (Model.studentAcademicList.Count == 0)
                                        {
                                            <div style="color: black; font-size: larger" id="errorMsgDiv">No Record Found</div>
                                        }
                                        else
                                        {
                                            <table class="box simple_table" border="1" style="border-collapse: collapse;">
                                                <tr>
                                                    <th style="width: 10%;" scope="col">SchoolName</th>
                                                    <th style="width: 10%;" scope="col">Graduate?</th>
                                                    <th style="width: 8%;" scope="col">Rank</th>
                                                    <th style="width: 8%;" scope="col">Certificate</th>
                                                </tr>
                                                @foreach (var r in @Model.studentAcademicList)
                                                {
                                                    <tr>
                                                        <td style="width: 10%;">@r.SchoolName
                                                        </td>
                                                        <td style="width: 10%;">
                                                            @((SpotCollege.Common.GraduateStatus)@r.Graduate)
                                                        </td>
                                                        <td style="width: 8%;">@r.Rank</td>
                                                        <td style="width: 8%;">
                                                           <a href="/Images/Certificate/@r.CertificatePath" target="_blank"> <img height="30" width="30" src="/Images/Certificate/@r.CertificatePath" class="large_images" id="imgCertificate"></a>
                                                        </td>
                                                    </tr>
                                                }
                                            </table>
                                        }
                                    </div>
                                </div>
                            </div>

                            <div id="internationalTest">
                                <div class="shadowbox right_space">
                                    <div class="h2_heading">
                                        <div class="accordion-header">
                                            <h2>International Test</h2>
                                        </div>
                                        @if (ViewContext.RouteData.Values["id"] == null)
                                        {
                                            <a href="/Student/EditProfile/Test" class="edit fright">Edit</a>
                                        }
                                    </div>
                                    <div class="accordion-content">
                                        @if (Model.testList.testList.Count == 0)
                                        {
                                            <div style="color: black; font-size: larger">No Record Found</div>
                                        }
                                        else
                                        {
                                            <table class="simple_table box" border="1" style="border-collapse: collapse;">
                                                <tr>
                                                    <th style="width: 10%;" scope="col">Test Name</th>
                                                    @if (ViewContext.RouteData.Values["id"] == null)
                                                    {
                                                        <th class="txt_align_right" style="width: 10%;" scope="col">Delete</th>
                                                    }
                                                </tr>

                                                @foreach (var t in Model.testList.testList)
                                                {
                                                    <tr>
                                                        <td style="width: 10%;">@SpotCollege.Common.EnumHelper.GetDescriptionFromEnumValue((SpotCollege.Common.InternationalTestRecord)@t.TestId).ToString()-@t.Date
                                                        </td>
                                                        @if (ViewContext.RouteData.Values["id"] == null)
                                                        {
                                                            <td class="txt_align_right" style="width: 10%;">
                                                                <a id="@("deleteTest" + @t.StudentTestId)" href="javascript:TestDelete('@t.StudentTestId')" class="delete">Delete</a>
                                                            </td>
                                                        }
                                                    </tr>
                                                }
                                            </table>
                                        }
                                    </div>
                                </div>
                            </div>

                            <div id="WorkHistory">
                                <div class="shadowbox right_space">
                                    <div class="h2_heading">
                                        <div class="accordion-header">
                                            <h2>Work history</h2>
                                        </div>
                                        @if (ViewContext.RouteData.Values["id"] == null)
                                        {
                                            <a href="/Student/EditProfile/WorkHistory" class="edit fright">Edit</a>
                                        }
                                    </div>
                                    <div class="accordion-content">
                                        <table class="simple_table box" border="1" style="border-collapse: collapse;">
                                            <tr>
                                                <th style="width: 10%;" scope="col">Company Name</th>
                                                <th style="width: 8%;" scope="col">Start Date</th>
                                                <th style="width: 8%;" scope="col">End Date</th>
                                            </tr>

                                            @foreach (var w in Model.studentWorkHistoryList)
                                            {
                                                <tr>
                                                    <td style="width: 10%;">
                                                        @w.CompanyName
                                                    </td>
                                                    <td style="width: 8%;">@w.StartDate.ToString("MM/dd/yyyy")</td>
                                                    <td style="width: 8%;">@w.EndDate.ToString("MM/dd/yyyy")</td>
                                                </tr>
                                            }
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div id="CurricularActivities">
                                <div class="shadowbox right_space">
                                    <div class="h2_heading">
                                        <div class="accordion-header">
                                            <h2>Extra Curricular Activies</h2>
                                        </div>
                                        @if (ViewContext.RouteData.Values["id"] == null)
                                        {
                                            <a href="/Student/EditProfile/ExtraActivity" class="edit fright">Edit</a>
                                        }
                                    </div>

                                    <div class="accordion-content">
                                        <ul class="list_4">
                                            <li>
                                                <label>Sports :</label>
                                                <span id="lblSports">@Model.student.SportActivities</span>
                                            </li>
                                            <li>
                                                <label>Leadership :</label>
                                                <span id="lblLeadership">@Model.student.LeadershipActivies</span>
                                            </li>
                                            <li>
                                                <label>Activites :</label>
                                                <span id="lblOtherActivities">@Model.student.OtherActivities</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div id="LoadingImage" style="display: none" class="modal_loder">
        @*<img src="/Images/ajaxloader.gif" />*@
    </div>
@*For Message PopUp*@
    @Html.Partial("_MessageBox")
   
    <div id="Dialog-Alert" title="" style="display: none;">
        <p><span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>Please Enter Message Text</p>
    </div>
    
    <script type="text/javascript">
        $(function () {

            $("#nav li").each(function () {
                $(this).removeClass('navi_active');
            });
            $("#lnkProfile").addClass('navi_active');

        });

        //for delete International test record
        function TestDelete(studentTestId) {

            $("#dialog-confirm").dialog({
                open: function (event, ui) { $(".ui-dialog-titlebar-close .ui-button-text").hide(); },
                resizable: false,
                height: 140, closeOnEscape: true,
                modal: true,
                buttons: {
                    "yes": function () {
                        //if (page_isvalid) {
                        var test = {
                            StudentTestId: studentTestId
                        };
                        $.ajax({
                            type: "POST",
                            url: "_TestDelete",
                            data: { StudentTestId: parseInt(studentTestId) },
                            contenttype: "application/json; charset=utf-8",
                            datatype: "json",
                            success: function (msg) {
                                $("#deleteTest" + studentTestId).parent().parent().remove();
                            }
                        });
                        // }
                        $(this).dialog("close");
                    },
                    cancel: function () {
                        $(this).dialog("close");
                    }
                }
            });
        }

        //For open Message Dialog or Conversation
        function OpenMsgPopup(sendToUserName, username) {
            $("#btnMsgSend").show();
            $("#hndMsgToUserName").val(username);
            $("#txtSendToUserName").val(sendToUserName);
            $("#messagebox").dialog({ modal: true, minWidth: 650, resizable: false, minHeight: 400, closeOnEscape: true, closeText: "" });
        }

        //For Send Message
        $("#btnMsgSend").click(function () {
            var Message = {
                Title: $("#txtSubject").val(),
                Description: $("#txtMessage").val(),
                sendToUserName: $("#hndMsgToUserName").val(),
                ParentId: "0",
            };
            if ($("#txtSubject").val() != "" && $("#txtMessage").val() != "") {
                $(this).hide();
                $.ajax({
                    type: "POST",
                    beforeSend: function () { $("#LoadingImage").show(); },
                    complete: function () { $("#LoadingImage").hide(); },
                    url: "/Student/_SendMessage",
                    data: JSON.stringify(Message),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (msg) {
                        $("#txtSubject").val("");
                        $("#txtMessage").val("");
                        $("#messagebox").dialog("close");
                        $("#hndMsgToUserName").val("");
                    }
                });
            }
            else {
                $("#Dialog-Alert").dialog({
                    open: function (event, ui) { $(".ui-dialog-titlebar-close .ui-button-text").hide(); },
                    resizable: false,
                    height: 140,
                    modal: true, closeOnEscape: true,
                    buttons: {
                        "OK": function () {
                            $(this).dialog("close");
                        }

                    },
                });
            }
        });

        // for Cancel Message
        $("#btnMsgCancel").click(function () {
            $("#txtSubject").val("");
            $("#txtMessage").val("");
            $("#messagebox").dialog().dialog("close");
        });
    </script>
}
