@model Spot_College_MVC.Models.LoginModel
@{
    Layout = null;
    ViewBag.Title = "Welcome to Spot College :: Login";
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>@ViewBag.Title</title>
    <link href="~/Content/style.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap-responsive.css" rel="stylesheet" type="text/css" />

    <!--[if IE]>
        <link rel="stylesheet" href="../Style/ie.css" type="text/css" media="screen" />
    <![endif]-->
    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="~/Scripts/js/jquery.min.js"></script>

    <script src="~/Scripts/js/jquery-ui.js"></script>
    <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />

    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            /* prepend menu icon */
            $('#nav-wrap').prepend('<div id="menu-icon">Menu</div>');
            /* toggle nav */
            $("#menu-icon").on("click", function () {
                $("#nav").slideToggle();
                $(this).toggleClass("active");
            });
        });
    </script>

    <!-- Fade slide -->
    <script type="text/javascript">
        $(document).ready(function () {
            var imgs = $('#slider > img'); var z = 1; var previousImageId = "";
            $(imgs[0]).show(5000);
            function loop(ev) {
                imgs.delay(5000).fadeOut(1000).eq(z).fadeIn(1000, function () {
                    check = z != imgs.length - 1 ? z++ : z = 0;
                    loop();
                });
            }
            loop();
        });
    </script>
    @*<%--For Check Duplicate UserName--%>*@
    <script>
        $(function () {
            $("#txtEmail").change(function () {
                if ($("#txtEmail").val() != "") {
                    if (Page_IsValid) {
                        var User = {
                            UserName: $('#txtEmail').val(),
                        };
                        $.ajax({
                            type: "POST",
                            url: "Login.aspx/ValidateUser",
                            data: JSON.stringify(User),
                            contentType: "application/json; charset=utf-8",
                            dataType: "json",
                            success: function (msg) {
                                if (msg.d == 'false') {
                                    $('#btnSubmit').show();
                                    $('#duplicateUser').hide();
                                }
                                else {
                                    $('#btnSubmit').hide();
                                    $('#duplicateUser').show();
                                }
                            }
                        });
                    }
                }
            });
        });
    </script>
</head>

<body class="dashboardbg">

    <div class="dashboardheader">
        @using (Html.BeginForm(new { ReturnUrl = "/" }))
        {
            @Html.AntiForgeryToken()
           
            <div class="container">
                <div class="row-fluid">
                    <div class="span7">
                        <a href="../Account/Login.aspx" class="logo">
                            <img src="../Images/d_logo.png" alt="" /></a>
                    </div>

                    <div class="span5 pull-right">
                        <ul class="d_navigation">
                            <li>
                                @Html.TextBoxFor(m => m.UserName, new { placeholder = "Username" })
                                @Html.ValidationMessageFor(m => m.UserName)
                            </li>
                            <li>
                                @Html.PasswordFor(m => m.Password, new { placeholder = "Password" })
                                @Html.ValidationMessageFor(m => m.Password)
                                <br />
                                @Html.ActionLink("Forgot your password?", "ForgotPassword", "Account")
                            </li>
                            <li class="d_navigation_last">
                                <input id="btnLogin" type="submit" value="Login" />
                            </li>
                        </ul>
                        <span id="lblErrorMsg" class="field-validation-error username_password_error">
                            @Html.ValidationSummary(true)
                        </span>
                    </div>
                </div>
            </div>
        }

    </div>
    <div id="dialog-Alert" title="Aggrement" style="display: none;">
        <p><span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>Must accept our Privacy Policy and T&C to join</p>
    </div>
    <div class="d_banner">
        <div class="container">
            <div class="row-fluid">
                <div class="span8">
                    <div class="row-fluid">
                        <div class="span6">
                            <div class="country_block">
                                <h3>Contact International Universities
                                    <br />
                                    from more than a dozen Countries.</h3>
                                <img src="../Images/country_img.png" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="span4">
                    <div class="d_register_block">
                        <h1>Students: Sign up here</h1>
                        <ul class="login_list">
                            <li>
                                <label>Enter Username</label>
                                <div>
                                    <span class="login_sep"></span><span class="login_email"></span>
                                    <input id="txtEmail" type="text" placeholder="Enter Email" />
                                    <span id="reqEmail" style="display: none; color: red">The Email field is required.</span>
                                    <span id="isValidEmail" style="display: none; color: red">Invalid Email</span>
                                    <span id="duplicateUser" class="field-validation-error" style="display: none">Email already exist in Record. Please Choose Any other..!</span>
                                </div>
                            </li>
                            <li>
                                <label>Enter Password</label>
                                <div>
                                    <span class="login_sep"></span><span class="login_password"></span>
                                    <input id="txtRegPassword" type="password" placeholder="Enter Password" />
                                    <span id="reqPassword" style="display: none; color: red">The Password field is required.</span>
                                </div>
                            </li>
                            <li>
                                <label>Confirm Password</label>
                                <div>
                                    <span class="login_sep"></span><span class="login_password"></span>
                                    <input id="txtConfirmPassword" type="password" placeholder="Confirm Password" />
                                    <span id="reqConfirmPassword" style="display: none; color: red">The Confirm Password field is required.</span>
                                    <span id="isValidConfirmPassword" style="display: none; color: red">The password and confirmation password do not match.</span>
                                </div>
                            </li>
                            <li>
                                <input id="chkPolicy" type="checkbox" /><span>I agree to <a href="../PrivacyAndPolicy.aspx">Privacy Policy</a> and <a href="../TermToUse.aspx">T&C</a></span>
                            </li>
                            <li>
                                <input id="btnSubmit" type="submit" value="Register" class="button" />
                            </li>
                            <span id="lblpolicy" style="color: red"></span>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div id="slider">
            <img src="../Images/slide1.jpg" alt="" />
            <img src="../Images/slide2.jpg" alt="" />
            <img src="../Images/slide3.jpg" alt="" />
            <img src="../Images/slide4.jpg" alt="" />
        </div>
    </div>


    <div class="d_content">
        <div class="container">
            <div class="row-fluid">
                <ul>
                    <li class="span6">
                        <div class="d_transperntbox">
                            <div class="heading">
                                <h1>See Which Colleges Want You</h1>
                            </div>
                            <ul>
                                <li>
                                    <img src="../Images/d_img11.gif" alt="" />
                                    <span>Search for the perfect international university that fits your budget and program</span>
                                </li>
                                <li>
                                    <img src="../Images/d_img22.gif" alt="" />
                                    <span>Contact admissions office for scholarships and other queries</span>
                                </li>
                                <li>
                                    <img src="../Images/d_img33.gif" alt="" />
                                    <span>Locate other students from your city applying to same university and collaborate with them on matters of housing, travel, flights and more</span>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="span6">
                        <div class="d_transperntbox">
                            <div class="heading">
                                <h1>Universities: Contact students around the world</h1>
                            </div>
                            <ul>
                                <li>
                                    <img src="../Images/d_img5.gif" alt="" />
                                    <span>Find the perfect students matching your admissions criteria.</span>
                                </li>
                                <li>
                                    <img src="../Images/d_img6.gif" alt="" />
                                    <span>View complete profiles including marksheets, test scores, certificates</span>
                                </li>
                                <li>
                                    <img src="../Images/d_img7.gif" alt="" />
                                    <span>Make spot offers to the right candidate</span>
                                </li>
                                <a href="~/Views/Home/RegisterUniversity" id="signUni" runat="server" class="button fright">Sign Up here</a>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="d_footer">
        <div class="container">
            <div class="row-fluid">
                <div class="span9">
                    <ul class="d_footer_toplink">
                        <li>@Html.ActionLink("Home", "index", "Account")</li>
                        <li><a href="../AboutUs.aspx">About Us</a></li>
                        <li><a href="../PrivacyAndPolicy.aspx">Privacy Policy</a></li>
                        <li><a href="../TermToUse.aspx">Terms of Use</a></li>
                        <li><a href="../Careers.aspx">Careers</a></li>
                    </ul>
                </div>
                <div class="span3"><span class="d_footer_righttext">© 2013, Spot College.com, LLC</span></div>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript">
    //$("#btnSubmit").click(function () {
    //    if (!$("#chkPolicy").is(":checked")) {
    //        alert("Must accept our Privacy Policy and T&C to join");
    //        return false;
    //    }
    //});

    $("#btnSubmit").click(function () {
        var userinfo = {
            UserName: $("#txtEmail").val(),
            Password: $("#txtRegPassword").val(),
        };

        var flag = true;

        if ($("#txtEmail").val() == "") {
            $("#reqEmail").show();
            flag = false;
        }
        else {
            $("#reqEmail").hide();
            var x = $("#txtEmail").val();
            var atpos = x.indexOf('@@');
            var dotpos = x.lastIndexOf(".");
            if (atpos < 1 || dotpos < atpos + 2 || dotpos + 2 >= x.length) {
                $("#isValidEmail").show();
                flag = false;
            }
        }

        if ($("#txtRegPassword").val() == "") {
            $("#reqPassword").show();
            flag = false;
        }
        else if ($("#txtConfirmPassword").val() == "") {
            $("#reqPassword").hide();
            $("#reqConfirmPassword").show();
            flag = false;
        }
        else {
            $("#reqEmail").hide();
            $("#isValidEmail").hide();
            $("#reqPassword").hide();
            $("#reqConfirmPassword").hide();
            $("#reqConfirmPassword").hide();

            if ($("#txtRegPassword").val() != $("#txtConfirmPassword").val()) {
                $("#isValidConfirmPassword").show();
                flag = false;
            }
            else {
                $("#isValidConfirmPassword").hide();
                flag = true;
            }
        }

        if (flag == true) {
            if ($("#chkPolicy").is(":checked")) {
                $.ajax({
                    type: "POST",
                    beforeSend: function () { $("#LoadingImage").show(); },
                    complete: function () { $("#LoadingImage").hide(); },
                    url: "api/Account/RegisterUser",
                    data: JSON.stringify(userinfo),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (msg) {
                        $("#txtEmail").val("");
                        $("#txtRegPassword").val("");
                        $("#txtConfirmPassword").val("");
                        $("#LoadingImage").hide();
                        window.location.href = "EditProfile.aspx";
                    },
                    error: function (e1, e2, e3, e4) {
                        alert(JSON.stringify(e1));
                    }

                });
            }
            else {
                $("#dialog-Alert").dialog({
                    open: function (event, ui) { $(".ui-dialog-titlebar-close .ui-button-text").hide(); },
                    resizable: false,
                    height: 170,
                    modal: true,
                    buttons: {
                        "OK": function () {
                            $(this).dialog("close");
                        }
                    },
                });
            }
        }
    });
</script>
</html>
